*{
     margin:0px;
     font-family: sans-serif;
}
.header{
    background-image: linear-gradient(to right, #00ab00, rgba(0,212,255));
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 90px 1fr;
    column-gap: 30px;
}
.contact-git{
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    font-size: 40px;
    grid-column-start: 2;
    grid-column-end: 5;
    margin-top: 30px;
    border-bottom: 0.75px solid rgb(255, 255, 255,0.5);
}
.contact-header1{
    grid-row-start: 2;
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    grid-column-start: 2;
    color: white;
    margin-top: 40px;  
}
.contact-header2{
    grid-row-start: 2;
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    grid-column-start: 3;
    color: white;
    margin-top: 40px;  
}
.contact-header3{
    grid-row-start: 2;
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    grid-column-start: 4;
    color: white;
    margin-top: 40px;  
}
.contact-header1 span, .contact-header2 span, .contact-header3 span{
    font-size: 12px;
    font-weight: bold;
    line-height: 1px;
    text-align: center;
    color: rgb(227, 234, 240);
}
.form
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    border: 1px solid black;
}
.messageus{
    font-size: 50px;
    color: rgb(0, 9, 107);
    margin-left: 150px;
    font-weight: 700;
    grid-row-start: 1;
    padding-top: 20px;
}
.form_align{
    margin-left:200px;
    margin-top: 20px;
}
.form_header{
    color:rgb(0, 9, 107);
    margin-bottom: 30px;
}
.content{
    grid-column-start: 1;
    margin-left: 150px;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
    border-style: solid;
    border-width: 2px ;
}
.logo{
    grid-column-start:1;
    margin-left: 150px;
    height:80px;
    width:120px;
    margin-top: 50px;
}
.f2{
    grid-column-start: 2;
    margin-bottom: 300px;
    grid-row-start: 1;
}
.form_label{
    color: rgb(0, 9, 107);
    font-weight: 700;
}
input[type=text]:focus, textarea:focus{
    background-color: rgba(250, 255, 235, 0.372);
    border-width: 2px;
    border-image: linear-gradient(to right, #00ab00, rgba(0,212,255))10;
    border-radius: 20px;
    outline: none;
}

.submit{
    background-color:rgb(1, 173, 173);
    color: white;
    width: 100px;
    height: 25px;
    font-weight: 700;
    border:none;
}
.submit:hover{
    background-color: rgb(1, 198, 198);
    cursor: pointer;
}


::placeholder{
    font-size:10px;
}